.tables {
    display: grid;
    grid-template-columns: repeat(3,auto);
    place-content: end space-between;
}

.road_tables {
    display: grid;
    grid-template-columns: repeat(4,150px);
}

.roadTable {
    width: 150px;
    height: auto;
    border: solid 1px black;
}

.crossroad {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.grass {
    background-color: darkgreen;
}

.vertical {
    display: grid;
    grid-template-columns: auto auto;
}

.horizontal {
    display: grid;
    grid-template-rows: auto auto;
}

.grid {
    background-color: #282c34;
    width: 700px;
    height: 700px;
    grid-template-columns: auto auto auto;
    display: grid;
}

.road_element {
    border: solid 1px #95999b;
}