.vertical_road{
    width: 150px;
    height: 900px;
    background-color: #7db67d;
    border: solid 1px black;
}

.vertical_roads {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 150px);
}

.horizontal_road{
    width: 900px;
    height: 150px;
    background-color: #7db67d;
    border: solid 1px black;
}

.horizontal_roads {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(2, 150px);
}

.crossroad {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}